/* Amenities.css */
.g-wrapper {
  background-color: white; /* Set background to white */
}

.amenities-container {
  display: flex;
  justify-content: center; /* Center the icons horizontally */
  flex-wrap: wrap; /* Allow the icons to wrap to a new line */
}

.amenity {
  text-align: center;
  margin: 20px;
  flex: 0 0 calc(20% - 40px); /* Adjust based on your desired number of amenities per row */
}

.amenity-icon {
  margin-bottom: 10px;
}

.amenity-label {
  font-size: 16px;
}
