/* Amenities.css */
.g-wrapper {
    background-color: white; /* Set background to white */
  }
  
  .amenities-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .amenity {
    text-align: center;
    margin: 20px;
  }
  
  .amenity-icon {
    margin-bottom: 10px;
  }
  
  .amenity-label {
    font-size: 16px;
  }
  